.mealList {
    display: flex;
    flex-direction: row;
    margin: 10px;
    flex-wrap: wrap;
    align-items: stretch;
}
    /* align-items: stretch;
    height: 300px;


/* .mealList:hover {
    margin-top: -2px;
} */

.mealImage {
    height: 200px;
    width: 250px;
    align-self: center;
    margin-left: 50px;
    /* justify-content: center; */
}